# Ignore everything
*
# But not
!.gitignore
!.vimrc
!.gvimrc
!.vim/colors/base16.vim
!.bashrc
!.bash_profile
!.config/base16.sh
!.Xresources
!.config/i3/config
!.config/i3/touchpad_init.sh
!.config/i3/touchpad_toggle.sh
!.config/i3status/config
!.gtkrc-2.0
!.gtkrc-eclipse
!eclipse-launcher.sh
!.config/gtk-3.0/settings.ini
!.config/Trolltech.conf
# !*/
